@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
